<h2>Kursname</h2>

<div class="grid-container">
    <div class="grid-item item1">
        <mat-card>
            <button mat-menu-item>
                <mat-icon class="gray_icon">event_note</mat-icon>
                <span>Überblick</span></button>
            <button mat-menu-item>
                <mat-icon class="gray_icon">assignment</mat-icon>
                <span>Kursinhalt</span></button>
            <button mat-menu-item>
                <mat-icon class="gray_icon">date_range</mat-icon>
                <span>Kurstermine</span></button>
            <button mat-menu-item>
                <mat-icon class="gray_icon">room</mat-icon>
                <span>Kursort</span></button>
            <button mat-menu-item>
                <mat-icon class="gray_icon">local_hotel</mat-icon>
                <span>Hotel</span></button>
            <button mat-menu-item>
                    <mat-icon class="gray_icon">people</mat-icon>
                    <span>Teilnehmer in meinem Betrieb</span></button>
        </mat-card>
    </div>
    <div class="grid-item item2">


    </div>
</div>

<mat-tab-group mat-stretch-tabs headerPosition="below">
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="gray_icon">event_note</mat-icon>
        </ng-template>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="gray_icon">assignment</mat-icon>
        </ng-template>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="gray_icon">date_range</mat-icon>
        </ng-template>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="gray_icon">room</mat-icon>
        </ng-template>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="gray_icon">local_hotel</mat-icon>
        </ng-template>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="gray_icon">people</mat-icon>
        </ng-template>
    </mat-tab>
</mat-tab-group>