<header>
    <mat-toolbar color="accent">
        <span>
        <button class="nav_left_button" mat-icon-button href="javascript:void(0)" (click)="goBack()"> <mat-icon>arrow_back</mat-icon> </button>
        </span>
        <span>
        <button class="nav_left_button" mat-button routerLink="/">SabisApp</button>
        </span>
        <span class="space"></span>
        <span>
        <button class="nav_right_button" mat-button href="#" routerLink="/account">Account</button>
        </span>
        <span>
            <button class="nav_right_button" mat-icon-button [matMenuTriggerFor]="menu" aria-label="more"><mat-icon>more_vert</mat-icon></button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="/account">
                  <mat-icon>account_circle</mat-icon>
                  <span>Konto bearbeiten</span>
        </button>
        <button mat-menu-item routerLink="/login">
                  <mat-icon>meeting_room</mat-icon>
                  <span>Ausloggen</span>
                </button>
        <button mat-menu-item routerLink="/settings">
                  <mat-icon>settings</mat-icon>
                  <span>Einstellungen</span>
                </button>
        </mat-menu>
        </span>
    </mat-toolbar>
</header>

<div class="container">
    <router-outlet>
    </router-outlet>
</div>
