h2 {
    text-align: center;
    font-family: "Roboto medium", sans-serif;
    font-size: 16px;
}

.grid-container {
    display: grid;
    grid-gap: 10px;
    padding: 10px;
    h5 {
        font-family: "Roboto medium", sans-serif;
        font-size: 14px;
        padding: 1px;
        margin: 1px;
    }
}

.grid-item {
    padding: 20px;
    font-size: 30px;
}

.item1 {
    grid-column: 1;
    grid-row: 1/ span 2;
}

.item2 {
    grid-column: 2 /span 18;
    grid-row: 1 / span 2;
}

.raised_list_button {
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    &:active {
        box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.4);
    }
}

$md-btn-color:white;
.md-btn {
    font-family: "Roboto medium", sans-serif;
    font-size: 14px;
    display: inline-block;
    height: 36px;
    min-width: 88px;
    padding: 6px 16px;
    line-height: 1.42857143;
    text-align: left;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 0;
    border-radius: 4px;
    background: $md-btn-color;
    color: black;
    outline: 0;
    &:focus {
        background: darken($md-btn-color, 12%)
    }
}

.gray_icon {
    color: gray;
}

.green_icon {
    color: green;
}

.orange_icon {
    color: orange;
}

mat-tab-group {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
}