h4 {
    text-align: center;
}

mat-selection-list {
    width: 95%;
    background-color: white;
    margin: auto;
    border-radius: 4px;
}

mat-expansion-panel {
    background-color: white;
    width: 95%;
    margin: auto;
}

mat-expansion-panel-header {
    min-height: 70px;
}

mat-checkbox {
    position: center center;
    margin: 15px;
}

.headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}