<h3>Datum</h3>
<h4>Teilnehmerliste</h4>



<mat-accordion class="headers-align">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-description>
                <mat-icon>account_circle</mat-icon>
                <div>
                    <b> Lerling Vorname Name</b><br>Beschreibung<br> text
                </div>
                <div>
                    text
                    <mat-checkbox (click)="$event.stopPropagation();"></mat-checkbox>
                </div>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>
            Ausbildungstitel:<br> Nebenfunktionen:
        </p>
    </mat-expansion-panel>
</mat-accordion>

<button mat-raised-button>Speichern</button>